<app-menu></app-menu>
<div id="background">
  <div id="dashboard">
    <div class="add-search">
      <form>
        <div id="divBusca">
          <input name="busca" type="search" id="txtBusca" placeholder="Pesquisar" />
          <button type="submit" class="btn"><i class="search" aria-hidden="true"></i></button>
        </div>
      </form>
      <button id="add">Adicionar</button>
    </div>
    <table class="tabela">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Título</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Pago</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Monitor LG 22"</td>
          <td>Informática</td>
          <td>R$592,82</td>
          <td>Monitor LG 22"</td>
          <td>Informática</td>
          <td>R$592,82</td>
        </tr>
        <tr>
          <td>Monitor LG 22"</td>
          <td>Acessórios</td>
          <td>R$87,00</td>
          <td>Monitor LG 22"</td>
          <td>Acessórios</td>
          <td>R$87,00</td>
        </tr>
        <tr>
          <td>Sabão em pó</td>
          <td>Limpeza</td>
          <td>R$11,50</td>
          <td>Sabão em pó</td>
          <td>Limpeza</td>
          <td>R$11,50</td>
        </tr>
        <tr>
          <td>Coca-cola 2L</td>
          <td>Bebidas</td>
          <td>R$5,90</td>
          <td>Coca-cola 2L</td>
          <td>Bebidas</td>
          <td>R$5,90</td>
        </tr>
        <tr>
          <td>Monitor LG 22"</td>
          <td>Informática</td>
          <td>R$592,82</td>
          <td>Monitor LG 22"</td>
          <td>Informática</td>
          <td>R$592,82</td>
        </tr>
        <tr>
          <td>Monitor LG 22"</td>
          <td>Acessórios</td>
          <td>R$87,00</td>
          <td>Monitor LG 22"</td>
          <td>Acessórios</td>
          <td>R$87,00</td>
        </tr>
        <tr>
          <td>Monitor LG 22"</td>
          <td>Acessórios</td>
          <td>R$87,00</td>
          <td>Monitor LG 22"</td>
          <td>Acessórios</td>
          <td>R$87,00</td>
        </tr>


      </tbody>
    </table>
  </div>
</div>
