<div>
  <app-menu></app-menu>
  <div id="background">
    <div id="dashboard">
      <div class="add-search">
        <form>
          <div id="divBusca">
            <input [(ngModel)]="busca" name="busca" type="search" id="txtBusca" placeholder="Pesquisar" (keyup.enter)="search()"  />
            <button type="submit" class="btn" (click)="search()"><i class="search" aria-hidden="true"></i></button>
          </div>
        </form>
        <button id="add" (click)="addTask()">Adicionar</button>
      </div>
      <table class="tabela">
        <thead>
          <tr>
            <th>Usuário</th>
            <th>Título</th>
            <th>Data</th>
            <th>Valor</th>
            <th>Pago</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of paginatedTasks">
            <td class="ellipsis">{{ task.name }}</td>
            <td class="ellipsis">{{ task.title }}</td>
            <td>{{ formatDate(task.date) }}</td>
            <td>R$ {{ task.value}}</td>
            <td>
              <input type="checkbox" [(ngModel)]="task.isPayed" (change)="togglePayment(task)">
            </td>
            <td>
              <div class="task-actions">
                <button (click)="editTask(task)">Edit</button>
                <span>|</span>
                <button (click)="deleteTask(task.id)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button *ngFor="let page of pageNumbers" [disabled]="page === pageIndex" (click)="goToPage(page)">{{ page + 1
          }}</button>
      </div>
    </div>
  </div>
</div>
<app-add-box (cancelAdd)="cancelAdding()" (overlayAnswer)="closeAddBox()" [showOverlay]="overlayAddTask"></app-add-box>
<app-edit-box *ngIf="editingTask" [task]="editingTask" (saveChanges)="saveEditedTask($event)"
  (cancelEdit)="cancelEditing()"></app-edit-box>
